* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 10px;
    background: #f1f1f1;
}


/* Header/Blog Title */

.header {
    background: linear-gradient(to right, #614385 0%, #516395 100%);
    padding: 30px;
    text-align: center;
    color: white;
    /* background: white; */
}

.header h1 {
    font-size: 50px;
}


/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #333;
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.profile-section {
    display: flex;
}

.profile-section img {
    width: 500px;
    height: 600px;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 18px;
}

.personal_text {
    vertical-align: middle;
    align-self: center;
}

.personal_text h6 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-weight: normal;
    margin-bottom: 12px;
    color: #222222;
}

.personal_text h3 {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222222;
}

.personal_text h4 {
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #a5a1a1;
}

.personal_text p {
    font-family: "Roboto", sans-serif;
    max-width: 540px;
    color: #777777;
    margin-bottom: 40px;
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.personal_text .basic_info li a {
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    color: #777777;
}

.personal_text .basic_info li {
    margin-bottom: 15px;
}

.personal_text .basic_info li a i {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #766dff;
}

.lnr {
    font-family: 'Linearicons-Free';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.personal_text .personal_social {
    margin-top: 45px;
}

.personal_text .personal_social li {
    display: inline-block;
    margin-right: 7px;
}

.personal_text .personal_social li a {
    line-height: 40px;
    width: 40px;
    background: #e8e8e8;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 16px;
}


/* Create two unequal columns that floats next to each other */


/* Left column */

.leftcolumn {
    float: left;
    width: 75%;
}


/* Right column */

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}


/* Fake image */

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.education {
    display: flex;
}

.education img {
    width: 85px;
    height: 85px;
    margin-right: 15px;
}

.education-info {
    vertical-align: middle;
    align-self: center;
}

.education-info .course {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 3px;
    color: #475ea5;
}

.education-info .school-year {
    color: #a5a1a1;
    margin-bottom: 3px;
}

.skills-img img {
    width: 100%;
}


/* Add a card effect for articles */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}


/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #c3bfbf;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


/* Container around content */

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


/* The circles on the timeline */

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #555a90;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


/* Place the container to the left */

.left {
    left: 0;
}


/* Place the container to the right */

.right {
    left: 50%;
}


/* Add arrows to the left container (pointing right) */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #e5e3e3;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #e5e3e3;
}


/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #e5e3e3;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e5e3e3 transparent transparent;
}


/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}


/* The actual content */

.content {
    padding: 20px 30px;
    background-color: #e5e3e3;
    position: relative;
    border-radius: 6px;
}

.content h2 {
    color: #004a7a;
}

.content h2,
.date,
.company {
    margin-bottom: 4px;
}

.content .date {
    font-size: 20px;
    color: #706f6f;
}

.content .company {
    font-size: 20px;
    font-weight: bold;
}

.content p {
    margin-top: 0px;
}

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}